[submodule "modules/ORB_SLAM3"]
	path = modules/ORB_SLAM3
	url = https://github.com/UZ-SLAMLab/ORB_SLAM3.git
	branch = c++14_comp
[submodule "modules/MonoRec"]
	path = modules/MonoRec
	url = git@github.com:silvery107/MonoRec.git
